*
{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 0 8%;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color:rgb(236, 145, 25);
}

.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}