body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.monitorStyle {
  padding: 5px;
}

.bgImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%;
}

.datetime{
  color: rgb(14, 2, 2);
  /* background-color: #10101e; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* width: 340px; */
  /* padding: 15px 10px; */
  justify-content: center;
  align-items: center; 
  display: flex;
  
}

.date{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}